body{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    background-color: #141414;
}


@media (min-width:991px) {
    #containerFooter{
        padding-left:15%;
        padding-right: 15%;
}  
}

#contMain{
    margin-left: 30%;
    margin-right: 30%;
}

#bottoniFormProfilo{
    background-color: #333333 ;
}

#footerProfilo{
    margin-left: 30%;
    margin-right: 30%;
}