body{
    margin:0 auto;
    font-family: 'Open Sans', sans-serif;
}

header {
    background: black;
    text-align: center;
    margin: 0 auto;
    padding: 25px;
  }

  section{
    background: url(../images/banner.jpg);
    background-size: 100%;
    width:auto;
    height:28em;
}

.testoPrincipale{
    border: 10px;
    padding:100px;
    text-align: center;
}

.testoPrincipale h1{
    color:#25a2c3;
}

fieldset{
    padding-top:15px;
    border:none;
    text-align: center;
}

button{
    background-color: #f04c2f;
    color:white;
    border-radius: 3px;
    border: none;
    height: 40px;
    width: 135px;
    margin:0;
    text-align: center;
}